home/**/.config/opera/
home/**/.config/keepassxc/
home/**/.config/obsidian/
home/**/.config/google-chrome/
home/**/.config/Code/
home/**/.config/Notepadqq/
home/**/.config/Windscribe/
home/**/.config/jxbrowser/
home/**/.config/qBittorrent/

home/**/__pycache/
home/**/.config/coc/
home/**/.config/libreoffice/
home/**/.config/flutter/
home/**/.config/backgrounds/
home/**/.config/JetBrains/
home/**/.config/Google/
home/**/.config/cef_user_data/
home/**/.config/composer/
home/**/.config/enchant/

home/**/.vim/.netrwhist
home/**/.vim/.autoload/
home/**/.vim/.plugged/
home/**/.vim/.black/
